html {
    font-size: 24;
}

p {
    width: 60ch;
}

#parent {
    font-size: 1.5em;
    width: 75;
    border: 2px solid black;
}

#red {
    font-size: 1em;
    width: 50%;
    background-color: red;
}

#blue {
    font-size: 16px;
    width: 50vw;
    background-color: rgba(75, 125, 175, .5);
}

#green {
    font-size: 16px;
    width: 10rem;
    background-color: green;
}

div {
    margin: 10px;
    color: white;
}